mixin example-slider(data)

  if (data)
    - const { min, max, from, to, step, isDouble, hasTips, hasMinMax, hasScale, scaleLimit, isVertical, scin } = data
    .example-slider.js-example-slider(data-min=min, data-max=max, data-from=from, data-to=to, 
      data-step=step, data-is-double=isDouble, data-has-tips=hasTips, data-has-min-max=hasMinMax, 
      data-has-scale=hasScale, data-scale-limit=scaleLimit data-is-vertical=isVertical, data-scin=scin)
  else 
    .example-slider.js-example-slider